@mixin gradientAnimation( $start, $end, $transTime ){
    background-size: 100%;
    background-image: linear-gradient($start, $end);
    position: relative;
    z-index: 100;
    &:before {
        background-image: linear-gradient($end, $start);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: opacity $transTime;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}
.recent-post{
	padding: calc(.25 * var(--baseline)) calc(.5 * var(--baseline));
	&s{
		display: contents;	
	}
	display: block;
	color: #fff;
	&__title{
		font-size: calc(1.5 * var(--baseline));
		@include poly-fluid-sizing("font-size", type-scale(1));
	}
	&__reading-time{}
	&__date-published{}
	&:nth-of-type(1){
		 // background-image: linear-gradient($yellow-1, $blue-2);
		grid-area: post1;
		// grid-column: -1	/ -3;
  //   	grid-row: 1;
    	@include gradientAnimation($yellow-1, $blue-2, .6s);


    	&:hover{
    		// background-image: linear-gradient($blue-2, $yellow-1);
    	}

	}
	&:nth-of-type(2){
		grid-area: post2;
		background: orange;
	
    	@include gradientAnimation($blue-2, $yellow-1, .6s);
	}
	&:nth-of-type(3){
		grid-area: post3;
		background: yellow;
		color: hsl(var(--x-360), var(--y-100), 50%);
	 background: hsl(var(--xy), 100%, 50%);
	}
	&:nth-of-type(4){
		grid-area: post4;
		background: green;

	}
	&:nth-of-type(5){
		grid-area: post5;
		background: blue;
		
	}
}