/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$text: #333;
$blue-1: #0af;
$blue-2: #3bf;
$blue-3: #6cf;
$yellow-1: #ff9;
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
body{
  color: $text;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
   font-family: 'Lato', sans-serif;
}

// $modularscale: (
//   base: 12px,
//   ratio: 1.5,
//   400px: (
//     ratio: 1.2,
//   ),
//   900px: (
//     base: 16px,
//     ratio: 1.3,
//   ),
//   1200px: (
//     base: 16px,
//     ratio: 1.6,
//   ),
// );

// @import 'modularscale.scss';

// @import 'calc-interpolation.scss';

// @import 'fluid-type.scss';

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@import 'prism-tomorrow.css';
@import 'type.scss';
@import 'styles/patterns/hero';
@import 'styles/patterns/recent-post';
:root {
  // --baseline: 1.4;
  // /* Line-height fallback */
  // line-height: 1.4;
  // line-height: calc(var(--baseline) * 1rem);

}


// rvr stands for responsive vertical rhythm
@function rvr($multiple) {
  @return calc(var(--baseline) * #{$multiple} * 1rem);
}

@function vr($multiple) {
  @return calc(1.4 * #{$multiple} * 1rem);
}

@media (min-width: 37.5em) {
  :root {
    // --baseline: 1.5;
  }
}
html {
  // line-height: 1.4;
  // font-size: 20px;
}
body{
  background-image: url('../images/memphis-mini.png');
}
.about{
  grid-area: about;
}
.test-field{
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  padding:  calc(var(--baseline)/2) var(--baseline) ;
  border-radius: 2px;
  box-shadow: inset 0 0 4px 3px rgba(0,0,0,.2);
  margin-bottom: calc(var(--baseline) * 2);
}

$spacer: var(--baseline) !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: #{$spacer} ,
    2: calc(#{$spacer} * 2),
    3: calc(#{$spacer} * 3),
    4: calc(#{$spacer} * 4),
    5: calc(#{$spacer} * 5),
    // gutter: $grid-gutter-width
  ),
  $spacers
);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
        .#{$abbrev}t-#{$size},
        .#{$abbrev}y-#{$size} {
          #{$prop}-top: $length !important;
        }
        .#{$abbrev}r-#{$size},
        .#{$abbrev}x-#{$size} {
          #{$prop}-right: $length !important;
        }
        .#{$abbrev}b-#{$size},
        .#{$abbrev}y-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .#{$abbrev}l-#{$size},
        .#{$abbrev}x-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }


h1{
  // font-size: var(--h1-font-size);
}
// // Change scale

// $s-font-size__scale-mod_1: 1.067 !default;
// $s-font-size__scale-mod_2: 1.333 !default;


// // Calculate Modular Scale
// // You don't need to calculate this with Sass 
// // You can use values from http://type-scale.com/
// // Or random values :)

// $s-font-size__h1-min: $s-font-size__scale-mod_1 * $s-font-size__scale-mod_1 * $s-font-size__scale-mod_1 * $s-font-size__scale-mod_1 * 1rem !default;
// $s-font-size__h1-max: $s-font-size__scale-mod_2 * $s-font-size__scale-mod_2 * $s-font-size__scale-mod_2 * $s-font-size__scale-mod_2 * 1rem !default;

// $s-font-size__h2-min: $s-font-size__scale-mod_1 * $s-font-size__scale-mod_1 * $s-font-size__scale-mod_1 * 1rem !default;
// $s-font-size__h2-max: $s-font-size__scale-mod_2 * $s-font-size__scale-mod_2 * $s-font-size__scale-mod_2 * 1rem !default;

// $s-font-size__h3-min: $s-font-size__scale-mod_1 * $s-font-size__scale-mod_1 * 1rem !default;
// $s-font-size__h3-max: $s-font-size__scale-mod_2 * $s-font-size__scale-mod_2 * 1rem !default;

// $s-font-size__h4-min: $s-font-size__scale-mod_1 * 1rem !default;
// $s-font-size__h4-max: $s-font-size__scale-mod_2 * 1rem !default;

// $s-font-size__h5-min: 1rem !default;
// $s-font-size__h5-max: 1rem !default;

// $s-font-size__h6-min: (1rem / $s-font-size__scale-mod_1) !default;
// $s-font-size__h6-max: (1rem / $s-font-size__scale-mod_2) !default;

// $s-font-size__p-min:  1rem !default;
// $s-font-size__p-max: 1rem !default;


//   h1{@include fluid-type(font-size,37.5rem, 80rem, $s-font-size__h1-min, $s-font-size__h1-max);}
//   h2{@include fluid-type(font-size,37.5rem, 80rem, $s-font-size__h2-min, $s-font-size__h2-max);}
//   h3{@include fluid-type(font-size,37.5rem, 80rem, $s-font-size__h3-min, $s-font-size__h3-max);}
//   h4{@include fluid-type(font-size,37.5rem, 80rem, $s-font-size__h4-min, $s-font-size__h4-max);}
//   h5{@include fluid-type(font-size,37.5rem, 80rem, $s-font-size__h5-min, $s-font-size__h5-max);}
//   h6{@include fluid-type(font-size, 37.5rem, 80rem, $s-font-size__h6-min, $s-font-size__h6-max);}









